<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= game.publisher %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= game.platform %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= game.price %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= game.release_year %>
  </p>
</div>
