<p style="color: green"><%= notice %></p>

<% content_for :title, "Games" %>

<h1>Games</h1>
<%= link_to "Usuários", users_path %> |
<%= link_to "Acessar Admin", admin_games_path %>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>
